In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
# df=pd.read_csv("C:\Users\ahmedanas8032\Desktop\data.csv")

In [4]:
# df=pd.DataFrame()

In [5]:
df=pd.read_csv('data.csv')

In [6]:
df

                                                                    Bejaia Region Dataset
day month year Temperature  RH  Ws Rain  FFMC DMC DC   ISI BUI  FWI              Classes
01  06    2012 29          57  18  0     65.7 3.4 7.6  1.3 3.4  0.5            not fire
02  06    2012 29          61  13  1.3   64.4 4.1 7.6  1   3.9  0.4            not fire
03  06    2012 26          82  22  13.1  47.1 2.5 7.1  0.3 2.7  0.1            not fire
04  06    2012 25          89  13  2.5   28.6 1.3 6.9  0   1.7  0              not fire
...                                                                                    ...
26  09    2012 30          65  14  0     85.4 16  44.5 4.5 16.9 6.5                fire
27  09    2012 28          87  15  4.4   41.1 6.5 8    0.1 6.2  0              not fire
28  09    2012 27          87  29  0.5   45.9 3.5 7.9  0.4 3.4  0.2            not fire
29  09    2012 24          54  18  0.1   79.7 4.3 15.2 1.7 5.1  0.7            not fire
30  09    2012 24          64  15  0.2   67.3 3.8 16.5 1.2 4.8  0.5           not fire

[247 rows x 1 columns]

In [7]:
df.head(10)

                                                                     Bejaia Region Dataset
day month year Temperature  RH  Ws Rain  FFMC DMC  DC   ISI BUI  FWI              Classes
01  06    2012 29          57  18  0     65.7 3.4  7.6  1.3 3.4  0.5            not fire
02  06    2012 29          61  13  1.3   64.4 4.1  7.6  1   3.9  0.4            not fire
03  06    2012 26          82  22  13.1  47.1 2.5  7.1  0.3 2.7  0.1            not fire
04  06    2012 25          89  13  2.5   28.6 1.3  6.9  0   1.7  0              not fire
05  06    2012 27          77  16  0     64.8 3    14.2 1.2 3.9  0.5            not fire
06  06    2012 31          67  14  0     82.6 5.8  22.2 3.1 7    2.5                fire
07  06    2012 33          54  13  0     88.2 9.9  30.5 6.4 10.9 7.2                fire
08  06    2012 30          73  15  0     86.6 12.1 38.3 5.6 13.5 7.1                fire
09  06    2012 25          88  13  0.2   52.9 7.9  38.8 0.4 10.5 0.3            not fire

In [8]:
df.tail(10)

                                                       Bejaia Region Dataset
21 09 2012 35 34 17 0   92.2 23.6 97.3  13.8 29.4 21.6                fire
22 09 2012 33 64 13 0   88.9 26.1 106.3 7.1  32.4 13.7                fire
23 09 2012 35 56 14 0   89   29.4 115.6 7.5  36   15.2                fire
24 09 2012 26 49 6  2   61.3 11.9 28.1  0.6  11.9 0.4             not fire
25 09 2012 28 70 15 0   79.9 13.8 36.1  2.4  14.1 3               not fire
26 09 2012 30 65 14 0   85.4 16   44.5  4.5  16.9 6.5                 fire
27 09 2012 28 87 15 4.4 41.1 6.5  8     0.1  6.2  0               not fire
28 09 2012 27 87 29 0.5 45.9 3.5  7.9   0.4  3.4  0.2             not fire
29 09 2012 24 54 18 0.1 79.7 4.3  15.2  1.7  5.1  0.7             not fire
30 09 2012 24 64 15 0.2 67.3 3.8  16.5  1.2  4.8  0.5            not fire

In [9]:
# dict1={
#     'name':['anas','ammar','aiman','khansa'],
#     'marks':[46,86,23,58],
#     'city':['akola','nagpur','amravati','buldhana']
# }

In [10]:
# df=pd.DataFrame(dict1)

In [11]:
# df

In [12]:
# df.to_csv('friends.csv',index=False)

In [13]:
# df.describe()

In [14]:
# df.index=list(('ABCD'))

In [15]:
# df

In [16]:
# df=pd.read_csv('data.csv')

In [17]:
# df

In [18]:
# df.columns

In [20]:
df.dropna(subset=["day"], axis=0)

KeyError: ['day']

In [22]:
df.corr

Empty DataFrame
Columns: []
Index: []